:root {
    --white: #F9FAF8;
    --dark-blue: #1F2937;
    --light-blue: #3882F6;
    --gray: #E5E7EB;
}

body {
    font-family: roboto, sans-serif;
    margin: 0px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1 {
    margin: 0px;
}

p {
    margin: 0px;
}

.header{
    background-color: var(--dark-blue);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    padding: 0px 180px;
    align-items: center;
}

.header-logo{
    font-size: 24px;
    font-weight: bolder;
}

.header ul {
    display: flex;
    gap: 20px;
}

.header a {
    color: var(--gray);
    font-size: 18px;
}

.hero {
    background-color: var(--dark-blue);
    display: flex;
    gap: 30px;
    padding: 100px 180px;
}

.hero-text {
    flex: 1;
}

.hero-image {
    flex: 1;
    background-color: #6D747D;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text h1 {
    color: var(--white);
    font-size: 48px;
    font-weight: bolder;
}

.hero-text p {
    color: var(--gray);
    font-size: 18px;
    margin-bottom: 10px;
}

.sign-up-button {
    background-color: var(--light-blue);
    border: none;
    color: var(--white);
    border-radius: 8px;
    padding: 10px 40px;
    font-size: 18px;
    font-weight: bolder;
}